/*fonts - style du texte*/ 

@font-face {
	font-family: 'agencyr';
	src: url('./fonts/AGENCYR.TTF');
	src: url('./fonts/AGENCYR.TTF') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*corps de la page*/

body
{
    margin: 0;
    font-family: 'agencyr';
    background-color: #0882b3;
}

/*logo*/

.left
{
    position: absolute;
    left: 0;
    background-color: #121212;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.left .logo
{
    max-width: 70%;
    margin-top: 30%;
    margin-bottom: 30%;
}

.left img
{
    margin: auto;
}

.left .photos img
{
    border-radius: 10px;
    box-shadow: 0 0 15px #0882b3;
}

.left .photos
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*coté droit - contenu*/

.right
{
    position: absolute;
    right: 0;
    background-color: #0882b3;
    width: 50%;
}

/*menu de navigation*/

.right nav
{
    position: absolute;
    top: 0;
    width: 100%;
}

.right ul
{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.right nav a
{
    text-decoration: none;
    color: #121212;
    font-size: 2em;
    font-weight: lighter;
}

.right .installations a
{
    color: #ce1717;
    background-color: #121212;
    text-shadow: 0 0 1px #757575;
    border-radius: 3px;
    padding: 5px;
}

.right nav a:hover
{
    text-shadow: 0px 0px 10px #757575;
}

/*text écrit*/

.right h1
{
    font-size: 2.6em;
}

.right p
{
    font-size: 1.5em;
}

.right .content
{
    width: 80%;
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-top: 15%;
}

.right img
{
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px #121212;
}

figure
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

figcaption
{
    color: #0882b3;
    text-align: center;
    margin: 15px;
    margin-bottom: 40px;
    font-size: 1.4em;
    font-weight: bold;
}

.right figcaption
{
    color: #121212;
}

.right .call
{
    bottom: 0;
}

.right .content p
{
    text-align: center;
}

.right .content p a
{
    text-decoration: none;
    color: #ce1717;
    text-shadow: 1px 1px 1px #ce1717;
    background-color: #121212;
    border-radius: 3px;
    padding: 5px;
}

/*bas de page*/

.right .bottom
{
    position: absolute;
    bottom: 0;
    right: 5%;
}

.right .bottom a
{
    text-decoration: none;
    color: #121212;
    font-size: 1.3em;
}

.right .bottom a:hover
{
    text-decoration: underline;
}

/*media taille tablette*/

@media screen and (max-width : 900px)
{
    .left
    {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .left img 
    {
        width: 50%;
        margin: auto;
    }

    .right
    {
        width: 100%;
    }

    .right img
    {
        width: 50%;
    }
    
    .installations
    {
        display: none;
    }

    figcaption
    {
        font-size: 1em;
    }
}

/*media taille téléphone*/

@media screen and (max-width : 568px)
{
    .right h1
    {
        font-size: 1.8em;
    }

    .right .content p
    {
        font-size: 1.4em;
    }

    .right .bottom a
    {
        font-size: 1.1em;
    }
}